.menu_container{
    text-decoration: none;
}

.list_itens{
    border: 1px solid rgb(206, 199, 199);
    width: 200px;
    height: 200px;
    margin: 4em;
    border-radius: 15px;
    box-shadow: 0px 0px 16px -1px rgba(129, 125, 125, 0.54);
}

.list_itens_border{
    background-color: rgba(239, 239, 239, 1);
    height: 100px;
    width: 200px;
    border-radius: 15px;
    bottom: 4em;
    margin-top: 50%;
}

.nome {
    text-align: center;
    margin-top: -17%;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.img_poke{
    position: absolute;
    z-index: 2;
    margin:0px 18px 0px 18px;    
    max-width: 160px;
    max-height: 150px;
}